<%- include('../layout/header.ejs') %>
<div class="body1">
  <div class="container1" id="container1">
    <div class="form-container sign-in1">
      <form action="/profile/change" method="POST">
        <h2>Hisobni tahrirlash</h2>
        <% if (changeError) { %>
        <div id="error-message" style="color: red"><%= changeError %></div>
        <script>
          setTimeout(function () {
            var errorMessage = document.getElementById("error-message");
            if (errorMessage) {
              errorMessage.style.display = "none";
            }
          }, 2000);
        </script>
        <% } %>
        <div class="social-icons">
          <a href="https://t.me/avtoelon_moshinabozor_elon_bozor"
            ><i class="fa-brands fa-telegram fa-xl"></i
          ></a>
          <a href="https://www.instagram.com/avtoelon.uz/"
            ><i class="fa-brands fa-instagram fa-xl"></i
          ></a>
          <a href="https://www.facebook.com/Avtoelon.uz/"
            ><i class="fa-brands fa-facebook-f fa-xl"></i
          ></a>
          <a href="https://youtube.com/@choynakningqopqogi?si=quiKZaNcuWjFH6By"
            ><i class="fa-brands fa-youtube fa-xl"></i
          ></a>
        </div>
        <span>Ma'lumotlaringizni yangilang</span>
        <input
          type="username"
          placeholder="Eshmatov Toshmat"
          id="username"
          name="username"
          value="<%= user.username %>"
        />
        <input
          type="phone"
          placeholder="998911234567"
          id="phone"
          name="phone"
          value="<%= user.phone %>"
        />
        <input
          type="password"
          placeholder="Eski parol"
          id="oldPassword"
          name="oldPassword"
        />
        <input
          type="password"
          placeholder="Yangi parol"
          id="newPassword"
          name="newPassword"
        />
        <button type="submit">Ro'yxatdan o'tish</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-right">
          <h1>Salom, Do'stim!</h1>
          <p>
            Saytning barcha imkoniyatlaridan foydalanish uchun shaxsiy
            ma'lumotlaringizni kiriting
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layout/footer.ejs') %>
