<%- include('../layout/header.ejs') %>
<!-- Header-->
<div class="container mt-5">
  <div class="card my-5 py-4 text-center border-0">
    <div class="card-body">
      <form class="row g-3" action="/posters" method="GET">
        <label for="search" class="visually-hidden">Qidiruv</label>
        <input
          type="text"
          class="form-control form-control-lg"
          id="search"
          placeholder="E'lonlar qidiruvi..."
          name="search"
          value="<%= querySearch %>" />
        <h3>Filtrlash</h3>
        <div class="search-filter">
          <div class="search-item m-2">
            <label for="category" class="form-label">Kategoriya</label>
            <select
              class="form-select mx-2"
              id="category"
              aria-label="Default select example"
              name="category"
            >
              <option selected disabled>Kategoriyani tanlang</option>
              <option value="realty">Ko'chmas mulk</option>
              <option value="transport">Transport</option>
              <option value="electronics">Elektronika</option>
              <option value="jobs">Ish o'rinlari</option>
            </select>
          </div>
          <div class="search-item m-2">
            <label for="amount" class="form-label">Narxi</label>
            <div class="input-group">
              <input
                type="text"
                id="amount"
                class="form-control price-input-filter mx-2"
                placeholder="dan"
                name="from"
              />
              <input
                type="text"
                id="amount"
                class="form-control price-input-filter mx-2"
                placeholder="gacha"
                name="to"
              />
            </div>
          </div>
          <div class="search-item m-2">
            <label for="region" class="form-label">Hudud</label>
            <select
              class="form-select"
              id="region"
              aria-label="Default select example"
              name="region"
            >
              <option selected disabled>Hududni tanlang</option>
              <option value="Toshkent">Toshkent</option>
              <option value="Qarshi">Qarshi</option>
              <option value="Buxoro">Buxoro</option>
              <option value="Navoiy">Navoiy</option>
              <option value="Andijon">Andijon</option>
              <option value="Namangan">Namangan</option>
              <option value="Farg'ona">Farg'ona</option>
              <option value="Guliston">Guliston</option>
              <option value="Termiz">Termiz</option>
              <option value="Samarqand">Samarqand</option>
              <option value="Xorazm">Xorazm</option>
              <option value="Nukus">Nukus</option>
            </select>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary btn-lg mb-3">
            Izlash
          </button>
        </div>
      </form>
    </div>
  </div>
  <hr />
</div>

<div class="container">
  <!-- Page Features-->
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <% if (posters != '') { %>
        <% for (let poster of posters) { %>
      <div class="row">      
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-3">
              <a href="/posters/<%= poster._id %>" class="poster-link"
                ><img
                  src="<%= poster.image %>"
                  class="img-fluid rounded-start img-board"
                  alt="<%= poster.title %>"
              /></a>
            </div>
            <div class="col-md-9">
              <div class="card-body flex-poster-body">
                <div class="flex-poster-title">
                  <div class="title-item-one">
                    <a href="/posters/<%= poster._id %>" class="poster-link">
                      <span
                        class="card-title poster-title poster-link poster-flexible"
                        ><%= poster.title %></span
                      >
                    </a>
                  </div>
                  <h5 class="title-item-two"><%= poster.amount %> SO'M</h5>
                </div>
                <div>
                  <p class="card-text">
                    <small class="text-muted"
                      ><%= poster.region %> - <%= poster.createdAt.toLocaleDateString() %></small
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
          <% } %>
          <% } else { %>
            <h2 class="text-center mb-3">E'lonlar mavjud emas</h2>
          <% } %>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-lg justify-content-center">
            <% if (pagination.page > 1) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= pagination.page - 1 %>&limit=<%= pagination.limit %>" tabindex="-1" aria-disabled="false">Previous</a>
              </li>
            <% } else { %>
              <li class="page-item disabled">
                <span class="page-link" tabindex="-1" aria-disabled="true">Previous</span>
              </li>
            <% } %>
            
            <% for (let i = 1; i <= pagination.pageCount; i++) { %>
              <li class="page-item <%= i === pagination.page ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>&limit=<%= pagination.limit %>"><%= i %></a>
              </li>
            <% } %>
        
            <% if (pagination.page < pagination.pageCount) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= pagination.page + 1 %>&limit=<%= pagination.limit %>">Next</a>
              </li>
            <% } else { %>
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<%- include('../layout/footer.ejs') %>
